services:
  firefly:
    image: fireflyiii/core:latest
    container_name: firefly
    hostname: firefly
    networks:
      proxy:
    restart: always
    volumes:
      - ./firefly_iii_upload:/var/www/html/storage/upload
    env_file: .env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.firefly.entrypoints=https"
      - "traefik.http.routers.firefly.rule=Host(`finance.${DOMAIN_NAME}`)"
      - "traefik.http.routers.firefly.tls.certresolver=myresolver"
      - "traefik.http.routers.firefly.service=firefly"
      - "traefik.http.services.firefly.loadbalancer.server.port=8080"
      - "traefik.http.routers.firefly.tls=true"
    depends_on:
      - fireflydb

  fireflydb:
    image: mariadb:lts
    hostname: fireflydb
    container_name: fireflydb
    networks:
      proxy:
    restart: always
    env_file: .db.env
    volumes:
      - fireflydb:/var/lib/mysql

  fireflyimporter:
    image: fireflyiii/data-importer:latest
    restart: always
    hostname: fireflyimporter
    container_name: fireflyimporter
    networks:
      proxy:
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.fireflyimporter.entrypoints=https"
      - "traefik.http.routers.fireflyimporter.rule=Host(`finance-importer.${DOMAIN_NAME}`)"
      - "traefik.http.routers.fireflyimporter.tls.certresolver=myresolver"
      - "traefik.http.routers.fireflyimporter.service=fireflyimporter"
      - "traefik.http.services.fireflyimporter.loadbalancer.server.port=8080"
      - "traefik.http.routers.fireflyimporter.tls=true"
    depends_on:
      - firefly
    env_file: .importer.env

  cron:
    #
    # To make this work, set STATIC_CRON_TOKEN in your .env file or as an environment variable and replace REPLACEME below
    # The STATIC_CRON_TOKEN must be *exactly* 32 characters long
    #
    image: alpine
    container_name: firefly_iii_cron
    restart: always
    command: sh -c " apk add tzdata && ln -s /usr/share/zoneinfo/${TZ} /etc/localtime | echo \"0 3 * * * wget -qO- http://firefly:8080/api/v1/cron/${STATIC_CRON_TOKEN};echo\" | crontab - && crond -f -L /dev/stdout"
    networks:
      proxy:


volumes:
  fireflydb:


networks:
  proxy:
    external: true
