log:
  level: "DEBUG"

api:
  dashboard: true
  debug: true

entryPoints:
  http:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
  https:
    address: ":443"
  postgres:
    address: ":5432"
  mariadb:
    address: ":3306"

serversTransport:
  insecureSkipVerify: true

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false

  file:
    filename: /config.yaml

certificatesResolvers:
  myresolver:
    acme:
      tlsChallenge: {}
      email: '{{ env "LETSENCRYPT_EMAIL" }}'
      storage: "/letsencrypt/acme.json"
      # caServer: "https://acme-staging-v02.api.letsencrypt.org/directory"

experimental:
  plugins:
    AddForwardedHeader:
      moduleName: "github.com/jerrywoo96/AddForwardedHeader"
      version: "v1.0.1"
