INFISICAL_CLIENT_ID="{{ vault_infisical_client_id }}"
INFISICAL_CLIENT_SECRET="{{ vault_infisical_client_secret }}"
INFISICAL_API_URL="{{ vault_infisical_api_url }}"
INFISICAL_PROJECT_ID="{{ vault_infisical_project_id }}"

APPRISE_URL={{ vault_apprise_url }}
APPRISE_CONFIG={{ apprise_config }}
APPRISE_LOGIN='{{ vault_apprise_login }}'

RESTIC_REPOSITORY="{{ vault_restic_repository }}"
RESTIC_PASSWORD="{{ vault_restic_password }}"
B2_ACCOUNT_ID="{{ vault_b2_account_id }}"
B2_ACCOUNT_KEY="{{ vault_b2_account_key }}"
