COMPOSE_KOMODO_BACKUPS_PATH={{ komodo_backups_path }}
COMPOSE_KOMODO_IMAGE_TAG={{ komodo_image_tag }}
DOMAIN_NAME={{ vault_komodo_domain_name }}

KOMODO_AWS_ACCESS_KEY_ID=
KOMODO_AWS_SECRET_ACCESS_KEY=

KOMODO_DB_PASSWORD={{ vault_komodo_db_password }}
KOMODO_DB_USERNAME={{ komodo_db_username }}

KOMODO_DISABLE_CONFIRM_DIALOG={{ komodo_disable_confirm_dialog }}
KOMODO_DISABLE_NON_ADMIN_CREATE={{ komodo_disable_non_admin_create }}
KOMODO_DISABLE_USER_REGISTRATION={{ komodo_disable_user_registration }}
KOMODO_ENABLE_NEW_USERS={{ komodo_enable_new_users }}
KOMODO_FIRST_SERVER={{ vault_komodo_first_server }}
KOMODO_FIRST_SERVER_NAME={{ vault_komodo_first_server_name }}
KOMODO_GITHUB_OAUTH_ENABLED={{ komodo_github_oauth_enabled }}
KOMODO_GOOGLE_OAUTH_ENABLED={{ komodo_google_oauth_enabled }}
KOMODO_HOST={{ vault_komodo_host }}
KOMODO_INIT_ADMIN_PASSWORD={{ vault_komodo_init_admin_password }}
KOMODO_INIT_ADMIN_USERNAME={{ komodo_init_admin_username }}
KOMODO_JWT_SECRET={{ vault_komodo_jwt_secret }}
KOMODO_JWT_TTL={{ komodo_jwt_ttl }}
KOMODO_LOCAL_AUTH={{ komodo_local_auth }}
KOMODO_LOGGING_PRETTY={{ komodo_logging_pretty }}
KOMODO_MONITORING_INTERVAL={{ komodo_monitoring_interval }}
KOMODO_OIDC_ENABLED={{ komodo_oidc_enabled }}
KOMODO_PASSKEY={{ vault_komodo_passkey }}
KOMODO_PRETTY_STARTUP_CONFIG={{ komodo_pretty_startup_config }}
KOMODO_RESOURCE_POLL_INTERVAL={{ komodo_resource_poll_interval }}
KOMODO_TITLE={{ komodo_title }}
KOMODO_TRANSPARENT_MODE={{ komodo_transparent_mode }}
KOMODO_WEBHOOK_SECRET={{ vault_komodo_jwt_secret }}

PERIPHERY_DISABLE_TERMINALS={{ periphery_disable_terminals }}
PERIPHERY_INCLUDE_DISK_MOUNTS={{ periphery_include_disk_mounts }}
PERIPHERY_LOGGING_PRETTY={{ periphery_logging_pretty }}
PERIPHERY_PASSKEYS={{ vault_komodo_passkey }}
PERIPHERY_PRETTY_STARTUP_CONFIG={{ periphery_pretty_startup_config }}
PERIPHERY_ROOT_DIRECTORY={{ periphery_root_directory }}
PERIPHERY_SSL_ENABLED={{ periphery_ssl_enabled }}

TZ={{ tz }}
