LETSENCRYPT_EMAIL={{ vault_traefik_letsencrypt_email }}
WIREGUARD_PEER_IP={{ vault_traefik_wireguard_peer_ip }}
DOMAIN_NAME={{ vault_traefik_domain_name }}
BASIC_AUTH={{ vault_traefik_basic_auth }}
EX44_IP={{ vault_traefik_ex44_ip }}
