version: '3.8'

services:
  runner:
    image: youssefbrr/github-actions:latest # You can use this image or build your own
    restart: always
    env_file: .env
    environment:
      - NAME=github-runner
    deploy:
      mode: replicated
      replicas: 2
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.4'
          memory: 256M
