version: '3.8'

services:
  runner:
    build: .
    restart: always
    env_file: .env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    deploy:
      mode: replicated
      replicas: 4
      resources:
        limits:
          cpus: '3'
          memory: 12G
        reservations:
          cpus: '2'
          memory: 8G
