version: '3.8'

services:
  runner:
    image: youssefbrr/github-actions:latest # You can use this image or build your own
    restart: always
    env_file: .env
    deploy:
      mode: replicated
      replicas: 4
      resources:
        limits:
          cpus: '3'
          memory: 12G
        reservations:
          cpus: '2'
          memory: 8G
