version: '3.8'

services:
  runner:
    image: serbog/github-actions-runner:latest
    restart: always
    env_file: .env
    deploy:
      mode: replicated
      replicas: 4
      resources:
        limits:
          cpus: '3'
          memory: 12G
        reservations:
          cpus: '2'
          memory: 8G
